<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid me-3">
        Brand Name on the left
        <a class="navbar-brand" href="#">BrandName</a>

        Align items to the right using ms-auto
        <div class="d-flex ms-auto align-items-center ">
            <button class="btn btn-outline-light me-3" (click)="logout()">Logout</button>
            <div class="user-icon">
                User SVG Icon
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <circle cx="12" cy="8" r="4"></circle>
                    <path d="M12 14c-5.33 0-8 2.67-8 6v2h16v-2c0-3.33-2.67-6-8-6z"></path>
                </svg>
            </div>
        </div>
    </div>
</nav>

<section>
    <div class="container mt-5">
        <h2 class="mb-4">Courses</h2>
        <div class="row">
          <div class="col-md-6" *ngFor="let course of courses">
            <div class="card mb-4 shadow-sm">
              <img [src]="course.imageUrl" class="card-img-top" alt="Course Image" style="height: 200px; object-fit: cover;">
              <div class="card-body">
                <h5 class="card-title">{{ course.title }}</h5>
                <p class="card-text">{{ course.description }}</p>
                <p class="text-muted">Category: {{ course.category }}</p>
                <p class="text-muted">Status: {{ course.status }}</p>
                <p class="text-muted">Created On: {{ course.createdDate | date:'medium' }}</p>
                <a href="#" class="btn btn-primary">View Modules</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
</section>  -->

<app-left-sidebar-student
  [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
  (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)"
/>

<app-dashboard
  [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
  [screenWidth]="screenWidth()"
/>